<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Instagram</title>
		<link rel="stylesheet" href="/assets/css/edit_style.css">

	</head>

	<body>
		{% include "templates/nav-bar.twig" %}

		<div class="content-user">
			<div class="edit">
				<div class="edit-form"></div>
			</div>
		</div>

		{%include "templates/footer.twig"%}</body>
</html></body></html></body></html>
