<footer>
	<div class="links">
		<a class="highlight-blue" href="#">ABOUT</a>
		<a class="highlight-blue" href="#">HELP</a>
		<a class="highlight-blue" href="#">PRESS</a>
		<a class="highlight-blue" href="#">API</a>
		<a class="highlight-blue" href="#">JOBS</a>
		<a class="highlight-blue" href="#">PRIVACY</a>
		<a class="highlight-blue" href="#">TERMS</a>
		<a class="highlight-blue" href="#">LOCATIONS</a>
		<a class="highlight-blue" href="#">TOP ACCOUNTS</a>
		<a class="highlight-blue" href="#">HASHTAGS</a>
		<a class="highlight-blue" href="#">LANGUAGE</a>
	</div>

	<h4>&copy; 2020 INSTAGRAM FROM REBEL</h4>

</footer>
