<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Instagram</title>
		<link rel="stylesheet" href="/assets/css/feed_style.css">
		<link rel="icon" href="/assets/images/favicon.ico" type="image/gif" sizes="16x16">
	</head>

	<body>
		{% include "templates/nav-bar.twig" %}

		<div class="content">

			<div class="posts">

				<div class="post"></div>
			</div>

		</div>

	</body>
</html>
