{% include("templates/header.twig") %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
    <link rel="stylesheet" href="../../../public/assets/css/style.css">
</head>

<body>
    <div class="main">
        <div class="phone" style="border:1px solid black">
            <img src="../../../public/assets/images/phone.png" alt=" ">
        </div>

        <div class="login" style="border:1px solid black">
            <div class="login-form">
                <img src="../../../public/assets/images/logo.png" style="max-width: 175px;" alt="">
                <input type="text" placeholder="Phone number, Username, or email">
                <input type="text" placeholder="Password">
                <button type="submit">Log in</button>
                <hr>
                <h4>Or</h4>
                <hr>
                <img src="../../../public/assets/images/facebook_logo.png" style="max-width: 20px;" alt="">
                <h3>Log in with Facebook</h3>
                <h4>Forgot Password?</h4>
            </div>
            <div class="sign-up" style="border:1px solid black">
                <h3>Don't have an account? Sign up</h3>
            </div>
            <div class="get-app" style="border:1px solid black">
                <h3>Get the app.</h3>
                <img src="../../../public/assets/images/android.png" style="max-width: 136px;" alt="">
                <img src="../../../public/assets/images/ios.png" style="max-width: 136px;" alt="">
            </div>
        </div>

    </div>



    {% include("templates/footer.twig") %}
</body>

</html>