<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Instagram</title>
		<link rel="stylesheet" href="/assets/css/feed_style.css">
		<link rel="icon" href="/assets/images/favicon.ico" type="image/gif" sizes="16x16">
	</head>

	<body>
		{% include "templates/nav-bar.twig" %}

		<div class="home-content">

			<div class="posts">

				{% for post in posts %}
					<div class="post">
						<div class="username">
							{% if post.post == 0 %}
								<img class="post-profile_image" src="{{post.path}}">
							{% endif %}
							<h2 class="post-username">{{post.username}}</h2>
						</div>
						<img class="post-image" src="{{post.path}}">
						<div class="caption">
							<h2 class="post-caption">{{post.caption}}</h2>
						</div>
					</div>
				{% endfor %}
			</div>

		</div>

	</body>
</html>
