<div class="login-form">
    <img class="logo-img" src="/assets/images/logo.png" style="max-width: 175px;" alt="">

    <form class="input-form" action="/login" method="POST">
        <input class="input-field" type="text" name="username" placeholder="Phone number, username or email">
        <input class="input-field" type="password" name="password" placeholder="Password">
        <button class="submit-button" type="submit">Log in</button>
    </form>

    <h4 class = "warning">Invalid username or password!</h4>

    <span class="facebook">
        <img class="facebook-logo" src="/assets/images/facebook_logo.png" alt="">
        <h3>Log in with Facebook</h3>
    </span>

    <h4 class="highlight-blue" style="padding:23px 0px;">Forgot Password?</h4>
</div>

<div class="sign-up" style="padding:23px 0px;">
    <h3>Don't have an account?
        <span class="highlight-blue">
            <a href="/signup">Sign up</a>
        </span>
    </h3>
</div>

<div class="get-app">
    <h3>Get the app.</h3>
    <div class="icons">
        <img class="icon" src="/assets/images/android.png" alt="">
        <img class="icon" src="/assets/images/ios.png" alt="">
    </div>
</div>