<div class="navbar-container">
	<div class="navbar">
		<a href="/upload"><img id="upload" src="assets/images/nav-bar/camera.png" alt=""></a>

		<a href="/"><img id="logo" src="assets/images/nav-bar/logo.png" alt=""></a>

		<input class="input-field" id="search" type="text" name="search" placeholder="Search">

		<a href="/"><img id="home" src="assets/images/nav-bar/home.png" alt=""></a>

		<a href="/trending"><img id="trending" src="assets/images/nav-bar/trending.png" alt=""></a>

		<a href="/top"><h3>Top</h3>
		</a>

		<a href="/explore"><img id="users" src="assets/images/heart.png"></a>

		{% if user.profile_pic == "" %}
			<a href="/profile"><img id="user-image" src="/assets/images/nav-bar/placeholder.png" alt=""></a>
		{% else %}
			<a href="/profile"><img id="user-image" src="{{user.profile_pic}}" alt=""></a>
		{% endif %}
	</div>
</div>
