<div class="navbar">
	<img class='navbar-img' src="assets/images/navLogo.png" alt="">
	<span class="search-box">
		<form class="search-form" method="POST">
			<input class = "input-field" id = "search" type="text" name="search"  placeholder = "Search">
		</form>
	</span>
	<a href = "/" ><img class='navbar-img' id="home" src="assets/images/home_icon.png" alt=""></a>
	<a href = "/trending" ><img class='navbar-img' id="trending" src="assets/images/compass.png" alt=""></a>
	<a href = "/user" ><img class='navbar-img' id="user-image" src="assets/images/compass.png" alt=""></a>

</div>
