<div class="navbar">
    <img src="assets/images/navLogo.png" alt="">
    <span class="search-box">
        <form class ="search-form" action="" method = "POST">
            <input type="text" name = "search">
        </form>
    </span>

</div>
