<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Post</title>
		<link rel="stylesheet" href="/assets/css/edit_style.css">
		<link rel="icon" href="/assets/images/favicon.ico" type="image/gif" sizes="16x16">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	</head>
	<body>

		{% include "templates/nav-bar.twig" %}

		<div class="content-user">
			<div class="edit">
				<div class="edit-form">

					<h2 class="highlight-grey">Upload a Photo</h2>

					<form class="input-form" method="POST">
						<input class="input-field" id="image" type="file" name="image">
						<input class="input-field" id="caption" type="text" name="caption" placeholder="Caption">
					</form>
					<input class="submit-button" type="submit" value="Submit">
					<div class="preview">
						<img src="" id="image">
					</div>
				</div>
			</div>
		</div>
		{%include "templates/footer.twig"%}
		<script src="/assets/js/edit.js"></script>
	</body>
</html>
