@import 'feed_style.css';
.edit {
    background-color: rgba(var(--b3f, 250, 250, 250), 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-form {
    width: 20%;
    background-color: white;
    border: 1px solid #a6e3e9;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8%;
    margin-bottom: 6%;
    min-height: 50%;
}

.input-form {
    justify-content: center;
    background-color: white;
    width: 220px;
}

.input-field {
    width: 100%;
    padding: 12px 20px;
    margin: 15px 0px 15px 0px;
    background-color: rgba(var(--b3f, 250, 250, 250), 1);
    border: 1px solid #a6e3e9;
}

.submit-button {
    background-color: #3f72af;
    margin: 10px 40px 20px 40px;
    padding: 0px 10px;
    min-height: 40px;
    border-radius: 7px;
    color: white;
    font-size: 20px;
}