@import 'style.css';
.navbar {
    display: grid;
    grid-template: 1fr / 1fr 5fr 4fr 1fr 1fr 1fr;
    padding: 0% 20%;
    border: 1px solid #a6e3e9;
    height: 7vh;
}

.navbar-img {
    display: flex;
    align-self: center;
    justify-self: flex-start;
    height: 45px;
}

.search-box {
    display: flex;
    align-self: center;
    justify-self: flex-start;
}

.input-form {
    display: flex;
}

.input-field {
    width: 100%;
    padding: 12px 20px;
    margin: 15px 0px 15px 0px;
    background-color: white;
    border: none;
}

.submit-button {
    border: none;
    color: blue;
    font-size: 14px;
    margin-left: 5px;
    margin-right: 5px;
}

.content {
    min-height: 93vh;
    background-color: rgba(var(--b3f, 250, 250, 250), 1);
    display: flex;
    justify-content: center;
}

.home-content {
    min-height: 93vh;
    background-color: rgba(var(--b3f, 250, 250, 250), 1);
    display: flex;
    justify-content: center;
}

.posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}

.post {
    border: 1px solid #a6e3e9;
    border-radius: 3px;
    background-color: white;
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

.username {
    border-bottom: 1px solid #a6e3e9;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.post-profile_image {
    max-width: 40px;
}

.post-username {
    padding-left: 5%;
}

.post-image {
    align-self: center;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
    padding: 10%;
}

.post-profile_image {
    border: 1px solid grey;
    border-radius: 50%;
    margin-right: 10px;
    width: 30px;
}

.post-caption {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.post-caption h4 {
    padding-left: 10px;
    font-weight: lighter;
}

.caption {
    border-top: 1px solid #a6e3e9;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.likes {
    display: flex;
}

.like-count {
    padding-right: 10px;
}

.post-like {
    width: 30px;
    height: 30px;
}