* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
    list-style: none;
    box-sizing: border-box;
}

.content {
    height: 80vh;
}

button {
    cursor: pointer;
}

footer {
    height: 20vh;
    padding: 50px 300px;
    display: grid;
    grid-template: 1fr /4fr 0.3fr 1.2fr;
}

footer .links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 13px;
}

footer h4 {
    grid-column: 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 13px;
}